cement==2.8.2
certifi==14.5.14
colorama==0.3.7
configparser==3.5.0
decorator==4.1.2
dj-database-url==0.4.2
Django==1.9.7
django-adminfiles==1.0.1
django-allauth==0.34.0
django-b2storage==1.0
django-backblazeb2-storage==0.3
django-ckeditor==5.0.3
django-cleanup==0.3.1
django-crispy-forms==1.6.0
django-haystack==2.4.0
django-localflavor==1.0
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-pagedown==0.1.1
django-pygments==0.1
django-templateaddons==0.1
django-tinymce==2.3.0
html5lib==1.0.1
Markdown==2.6.6
markdown2==2.3.1
MarkupSafe==1.0
oauthlib==2.0.6
Pillow==2.8.1
python-dateutil==1.5
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.8.0
six==1.11.0
whitenoise==3.3.1
Whoosh==2.7.0
gunicorn==19.6.0
psycopg2>=2.6.1