{% load staticfiles %}


<div id="carousel-example-generic" class="carousel slide" >
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<!-- First slide -->
			<div class="item active deepskyblue">
				<div class="carousel-caption">

                   <!-- <button class="btn btn-primary" data-animation="animated zoomInUp"> -->
					<span style="background-color:white; color:blue;">	Welcome to XChange Idea Network!! </span>
					 <!-- </button> -->

				</div>
			</div> <!-- /.item -->

			<!-- Second slide -->
			<div class="item skyblue">
				<div class="carousel-caption">
					<!--<button class="btn btn-primary" data-animation="animated zoomInRight"> -->
					<span style="background-color:white; color: blue;">	A Knowledge Sharing Network </span>
					<!--</button>-->
				</div>
			</div><!-- /.item -->

			<!-- Third slide -->
			<div class="item darkerskyblue">
				<div class="carousel-caption">
					<!--<button class="btn btn-primary" data-animation="animated lightSpeedIn"> -->
					<span style="background-color:white; color: blue;"> Thank you for spending your valuable time on our blog, keep visiting!! </span>
					<!--</button>-->

				</div>
			</div><!-- /.item -->

		</div><!-- /.carousel-inner -->

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" ></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
</div><!-- /.carousel -->